<div class="container">

<h1>Editing tokimons</h1>

<%= form_for(@tokimon) do |tokimon| %>
  <% if @tokimon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tokimon.errors.count, "error") %> prohibited this tokimon from being saved:</h2>

      <ul>
      <% @tokimon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= tokimon.label :name %><br>
    <%= tokimon.text_field :name %>
  </div>

  <div>
    <%= tokimon.label :weight %><br>
    <%= tokimon.text_field :weight %>
  </div>

  <div>
    <%= tokimon.label :height %><br>
    <%= tokimon.text_field :height %>
  </div>

  <p>The ability is measured by an integer between 0 and 100</p><br>
  <div>
    <%= tokimon.label :fly %><br>
    <%= tokimon.text_field :fly %>
  </div>

  <div>
    <%= tokimon.label :fight %><br>
    <%= tokimon.text_field :fight %>
  </div>

  <div>
    <%= tokimon.label :fire %><br>
    <%= tokimon.text_field :fire %>
  </div>

  <div>
    <%= tokimon.label :water %><br>
    <%= tokimon.text_field :water %>
  </div>

  <div>
    <%= tokimon.label :electric %><br>
    <%= tokimon.text_field :electric %>
  </div>

  <div>
    <%= tokimon.label :ice %><br>
    <%= tokimon.text_field :ice %>
  </div>
  <br>

  <p>Choose it's trainer</p>
  <select name="tokimon[trainer_id]">
    <% Trainer.all.each do |trainer| %>
        <option value="<%= trainer.id %>"><%= trainer.name %></option>
   <% end %>
  </select>
  <br>
  <br>
  <div>
    <%= tokimon.submit %>
  </div>
  <br>
<% end %>


<%= link_to 'Show', @tokimon %> |
<%= link_to 'Back', trainers_path %>

</div>










