<% provide(:title, 'Enter tokimons info') %>
<h1>Input your tokimon's information</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@tokimon) do |t| %>
      <div>
      <%= t.label :name %><br>
      <%= t.text_field :name, class: 'form-control'%>
      </div>

      <div>
	    <%= t.label :weight %><br>
      <%= t.text_field :weight, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :height %><br>
      <%= t.text_field :height, class: 'form-control'%>
      </div>

      <p>The ability is measured by an integer between 0 and 100</p><br>
      <div>
      <%= t.label :fly %><br>
      <%= t.text_field :fly, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :fight %><br>
      <%= t.text_field :fight, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :fire %><br>
      <%= t.text_field :fire, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :water %><br>
      <%= t.text_field :water, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :electric %><br>
      <%= t.text_field :electric, class: 'form-control'%>
      </div>

      <div>
      <%= t.label :ice %><br>
      <%= t.text_field :ice, class: 'form-control'%>
      </div>

      <br>
      <p>Choose it's trainer</p>
      
      <select name="tokimon[trainer_id]">
        <% Trainer.all.each do |trainer| %>
          <option value="<%= trainer.id %>"><%= trainer.name %></option>
        <% end %>
      </select>
      <br>
      <br>
      <%= t.submit "Create my tokimon", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>








