<div class="container">

<p id="notice"><%= notice %></p>

<table align="center">
  <tr>
    <th>Name:</th>
    <td><%= @tokimon.name %></td>
  </tr>

  <tr>
    <th>Weight:</th>
    <td><%= @tokimon.weight %></td>
  </tr>

  <tr>
    <th>Height:</th>
    <td><%= @tokimon.height %></td>
  </tr>

  <tr>
    <th>Fly:</th>
    <td><%= @tokimon.fly %></td>
  </tr>

  <tr>
    <th>Fight:</th>
    <td><%= @tokimon.fight %></td>
  </tr>

  <tr>
    <th>Fire:</th>
    <td><%= @tokimon.fire %></td>
  </tr>

  <tr>
    <th>Water:</th>
    <td><%= @tokimon.water %></td>
  </tr>

  <tr>
    <th>Electric:</th>
    <td><%= @tokimon.electric %></td>
  </tr>

  <tr>
    <th>Ice:</th>
    <td><%= @tokimon.ice %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_tokimon_path(@tokimon) %> |
<%= link_to 'Back', tokimons_path %>

</div>















