<% provide(:title, 'Enter trainers info') %>
<h1>Input your information</h1>


<div >
  <div >
    <%= form_for(@trainer) do |f| %>
      <div>
      <%= f.label :name %><br>
      <%= f.text_field :name%>
      </div>

      <div>
	    <%= f.label :age %><br>
      <%= f.text_field :age%>
      </div>

      <div>
      <%= f.label :height %><br>
      <%= f.text_field :height%>
      </div>

      <div>
      <%= f.label :weight %><br>
      <%= f.text_field :weight%>
      </div>

      <div>
      <%= f.label :address %><br>
      <%= f.text_field :address%>
      </div>

      <div>
      <%= f.label :email %><br>
      <%= f.email_field :email%>
      </div>
      <br>
      <%= f.submit "Create my information" %>
    <% end %>
  </div>
</div>







