<div>

<p id="notice"><%= notice %></p>

<table align="center">
  <tr>
    <th>Name:</th>
    <td><%= @trainer.name %></td>
  </tr>
  <tr>
    <th>Level (>=0):</th>
    <td><%= @trainer.level = @count %></td>
  </tr>

  <tr>
    <th>Age:</th>
    <td><%= @trainer.age %></td>
  </tr>

  <tr>
    <th>Height:</th>
    <td><%= @trainer.height %></td>
  </tr>

  <tr>
    <th>Weight:</th>
    <td><%= @trainer.weight %></td>
  </tr>


  <tr>
    <th>Address:</th>
    <td><%= @trainer.address %></td>
  </tr>

  <tr>
    <th>Email:</th>
    <td><%= @trainer.email %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>

<br>
<br>

<div >
 <%= link_to 'Create Your Tokimon', new_tokimon_path %> 
  <% if @trainer.tokimons.any? %>
      <h3>tokimons (<%= @trainer.tokimons.count %>)</h3>
      <ol class="tokimons" >
        <%= render 'tokimons/tokimon'%>
      </ol>
      
    <% end %>
</div>

</div>

    














